<h1 class="col-md-offset-2"><%= title %></h1>
<div class='container'>
  <div class='container-fluid'>
    <div class='row'>
      <%= render movies, title: title %>
    </div>
    <div class='margin-down'>
      <%= link_to "View all", movies_path(filter: title.downcase), class: 'btn btn-default' %>
    </div>
  </div>
</div>
