<% if @latest.present? %>
  <h1 class="text-center">Latest</h1>
  <%= render 'movie', movies: @latest, movie_filter: 'latest' %>
<% end %>

<% if @featured.present? %>
  <h1 class="text-center">Featured</h1>
  <%= render 'movie', movies: @featured, movie_filter: 'featured' %>
<% end %>
