.left-area {
  line-height: 30px;
  height: 330px;
  width: 570px;
  float: left;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin-right: 50px;
}

.poster {
  margin-top: 10px;
  height: 120px;
  width: 570px;
  border-bottom: 1px solid #ccc;
}

.right-area {
  width: 350px;
  float: left;
  padding: 10px;
  padding-top: 70px;
}

#poster {
  margin-top: 10px;
  height: 120px;
  width: 570px;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  width: 30em;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.alignment {
  margin-top: 150px;
}

.index-movie-alignment {
  padding: 10px;
}

.movie-title-alignment {
  text-align: center;
}

.movie-anchor {
  display: block;
}

.movie-img {
  width: 100%;
}
